*{
    border: none;
    margin:0;
    padding:0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Quicksand', sans-serif;
}
/*reset css và chọn font */
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%
}
/*đặt kích thước cho html và body là 1 màn hình
 đặt html rồi mới đặt được body bạn có thể test thử đặt mỗi body*/
p{
    color:white;
}
/* đặtmàu chữ của thẻ p là màu trắng*/
.khoito{
    background-image: url("http://online.khoapham.vn/online/images/pexels-photo.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}
/*đặt hình nền và kích thước cho khoito là 1 màn hình*/
.manhinhden {
    background-color: #00000059;
    width: 100%;
    height: 100%;
    display: flex;
       justify-content: center;
       align-items: center;
}
/*đặt màu background #00000059 lên hình nền 
  và đặt flex box đưa khối đen ra giữa*/
.khoiden {
    width: 60%;
    height: 65%;
    background-color: #00000090;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*đặt kích thước cho khối đen
và đặt flexbox chia các layout bên trong khối đen*/
div.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
h2{
    color:white;
    font-size: 40px;
    font-weight: lighter;
 
}
#txt1{
 
    color:white;
    text-align: center;
    line-height: 25px;
    margin: 25px 0px;
    
}
div.timkiem{
    width: 100%;
    text-align: center;
 
}
.timkiem input{
    width: 80%;
    height: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
 
}
.timkiem i{
    background-color: #0D7CC9;
    color: white;
    font-size: 20px;
    padding:15px;
    position: relative;
    top:2px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
.gioithieu{
    display: flex;
    flex-direction: row;
    position: relative;    
    top: 30px;
    width: 100%;
    justify-content: space-evenly;
}
._1khoi{
    width: 175px;
    height: 93px;
    justify-content: space-between;
    
}
._1khoi i{
    color:white;
    float:left;
    font-size: 26px;
    height: 90px;
    margin-right: 20px;
 
}
._1khoi p{
    font-size: 15px;
}*{
    border: none;
    margin:0;
    padding:0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Quicksand', sans-serif;
}
/*reset css và chọn font */
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%
}
/*đặt kích thước cho html và body là 1 màn hình
 đặt html rồi mới đặt được body bạn có thể test thử đặt mỗi body*/
p{
    color:white;
}
/* đặtmàu chữ của thẻ p là màu trắng*/
.khoito{
    background-image: url("http://online.khoapham.vn/online/images/pexels-photo.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}
/*đặt hình nền và kích thước cho khoito là 1 màn hình*/
.manhinhden {
    background-color: #00000059;
    width: 100%;
    height: 100%;
    display: flex;
       justify-content: center;
       align-items: center;
}
/*đặt màu background #00000059 lên hình nền 
  và đặt flex box đưa khối đen ra giữa*/
.khoiden {
    width: 60%;
    height: 65%;
    background-color: #00000090;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*đặt kích thước cho khối đen
và đặt flexbox chia các layout bên trong khối đen*/
div.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
h2{
    color:white;
    font-size: 40px;
    font-weight: lighter;
 
}
#txt1{
 
    color:white;
    text-align: center;
    line-height: 25px;
    margin: 25px 0px;
    
}
div.timkiem{
    width: 100%;
    text-align: center;
 
}
.timkiem input{
    width: 80%;
    height: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
 
}
.timkiem i{
    background-color: #0D7CC9;
    color: white;
    font-size: 20px;
    padding:15px;
    position: relative;
    top:2px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
.gioithieu{
    display: flex;
    flex-direction: row;
    position: relative;    
    top: 30px;
    width: 100%;
    justify-content: space-evenly;
}
._1khoi{
    width: 175px;
    height: 93px;
    justify-content: space-between;
    
}
._1khoi i{
    color:white;
    float:left;
    font-size: 26px;
    height: 90px;
    margin-right: 20px;
 
}
._1khoi p{
    font-size: 15px;
}