
div.ngoai {


	border:1px solid red;
	padding:5px;
	
}
.email{
	display:inline;
	width: 100px;
	height: 100px;

	border:1px solid red;
	padding:5px;
}
.nav{

	background-color: #A9A9A9;
	list-style-type: none;

	margin: 0;
	padding:0; 
}
.nav li{
	display: inline-block;
	font-size: 20px;
	padding: 20px;
	

}
.left{
	position: absolute;
	float: left;
	font-size: 20px;
	padding: 20px;
	text-align: left;

}
.right{
	position: absolute;
	float: right;
	font-size: 20px;
	padding: 20px;
	text-align: right;

}

