nav {
            background-color: #6495ED;
        }
        
        .vertical-menu {
            width: 250px;
        }
        
        .vertical-menu a {
            background-color: #6495ED;
            color: black;
            display: block;
            padding: 12px;
            text-decoration: none;
        }
        
        .vertical-menu a:hover {
            background-color: #ccc;
        }
        
        .vertical-menu a.active {
            background-color: #4CAF50;
            color: black;
        }
        
        nav a {
            display: inline-block;
            padding: 10px;
            font-size: 20px;
            color: white;
            text-decoration: none;
        }
        
        nav a:hover {
            background-color: #333;
        }
        
        header {
            border: 1px solid #ccc;
            background-color: #F0F8FF;
            color: white;
            text-align: center;
            padding-bottom: 5px;
        }
        
        header h1 {
            color: red;
            font-size: 60px;
        }
        
        header div {
            color: black;
            font-size: 25px;
        }
        
        main {
            padding: 20px;
            text-align: justify;
        }
        
        main h2 {
            font-family: 'Segoe UI', Arial, sans-serif;
            font-size: 20px;
        }
        
        .footer1 {
            position: relative;
            background-color: #FF9F99;
            text-align: center;
            padding: 65px;
            bottom: 0;
            font-size: 28px;
            width: 100%;
            height: 30px;
            margin-top: -50px;
        }
        
        .container {
            display: flex;
        }
        
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }
        
        .dropdown {
            position: relative;
            display: inline-block;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
        
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        
        .dropdown-content a:hover {
            background-color: #ddd;
        }
        
        .dropdown:hover .dropdown-content {
            display: block;
        }
        
        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
        
        .dropbtn sub-menu {
            display: none;
            position: absolute;
            top: 0;
            left: 100%;
            width: 200px;
            background-color: #eee;
            padding: 5px 20px;
        }
        
        .dropbtn>li>.sub-menu {
            /*display: block;*/
            display: none;
            position: absolute;
            top: 0;
            left: 100%;
            width: 200px;
            background-color: #eee;
            padding: 5px 20px;
        }
        
        .div1 {
            position: absolute;
            color: black;
            font-size: 25px;
            top: 0;
            left: 0;
            margin-top: 245px;
            margin-left: 220px;

        }
        
        .div2 {
            position: absolute;
            color: black;
            font-size: 25px;
            top: 0;
            left: 0;
            margin-top: 245px;
            margin-left: 500px;
        }
        
        .div3 {
            position: absolute;
            color: black;
            font-size: 25px;
            top: 0;
            left: 0;
            margin-top: 245px;
            margin-left: 800px;
        }
        
        .div4 {
            position: absolute;
            color: black;
            font-size: 25px;
            top: 0;
            left: 0;
            margin-top: 245px;
            margin-left: 1100px;
        }
        
        .div5 {
            position: absolute;
            color: black;
            font-size: 25px;
            top: 0;
            left: 0;
            margin-top: 245px;
            margin-left: 1400px;
        }
        
        .div6 {
            position: absolute;
            color: black;
            font-size: 25px;
            top: 0;
            left: 0;
            margin-top: 500px;
            margin-left: 220px;
        }
        
        .div7 {
            position: absolute;
            color: black;
            font-size: 25px;
            top: 0;
            left: 0;
            margin-top: 500px;
            margin-left: 500px;
        }
        
        .div8 {
            position: absolute;
            color: black;
            font-size: 25px;
            top: 0;
            left: 0;
            margin-top: 500px;
            margin-left: 800px;
        }
        .div9 {
            position: absolute;
            color: black;
            font-size: 25px;
            top: 0;
            left: 0;
            margin-top: 500px;
            margin-left: 1100px;
        }
        .div10 {
            position: absolute;
            color: black;
            font-size: 25px;
            top: 0;
            left: 0;
            margin-top: 500px;
            margin-left: 1400px;
        }
        
        .anhbia {
            position: absolute;
            width: 300px;
            height: 160px;
            top: 0;
            left: 0;
            margin-top: 20px;
            margin-right: -40px;
            margin-left: 20px;
        }
        .main{
            background-color: #FF9F99;
        }
        
        #mainnav {
            padding: 10px;
            margin: 10px;
            margin-left: -30px;
            margin-top: -45px;

        }
        
        #mainnav ul {
            background: #3B5998;
            list-style: none;
            padding: 0px;
            width: 200px;
            text-align: center;
        }
        
        #mainnav ul li {
            position: relative;
            width: 200px;
            height: 40px;
            line-height: 40px;
            border-bottom: 1px solid #fff;
        }
        /**/
        
        #mainnav ul li a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            padding: 0 16px;
            display: block;
        }
        
        #mainnav li:hover {
            background: #17306E;
        }
        
        #mainnav .sub-menu {
            position: absolute;
            left: 200px;
            top: 0px;
            width: 200px;
            display: none;
            text-align: center;
            border-left: 1px solid #fff;
            font-size: 90%;
            border-radius: 0px 10px 10px 0px;
        }
        
        #mainnav li:hover .sub-menu {
            display: block;
            background: #17306E;
            color: red;
        }
        
        #mainnav .sub-menu2 {
            position: absolute;
            left: 200px;
            top: 0;
            width: 200px;
            border-left: 1px solid #fff;
            border-radius: 0px 10px 10px 0px;
            display: none;
        }
        
        #mainnav .sub-menu li:hover .sub-menu2 {
            display: block;
        }
        
        #mainnav .sub-menu3 {
            position: absolute;
            left: 200px;
            top: 0;
            width: 200px;
            border-left: 1px solid #fff;
            border-radius: 0px 10px 10px 0px;
            display: none;
        }
        
        #mainnav .sub-menu2 li:hover .sub-menu3 {
            display: block;
        }
        .snip1325 {
            position: relative;
            overflow: hidden;
            margin: 10px;
            min-width: 185px;
            max-width: 235px;
            height: 170px;
            width: 170px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        }
        .snip1325 img {
            height: 170px;
            position: absolute;
            right: 0;
            -webkit-transition: all 2s ease-out;
            transition: all 2s ease-out;
        }
        .snip1325:hover img,
        .snip1325.hover img {
            -webkit-transform: translateX(130px);
            transform: translateX(130px);
}