.p{
			color:red;
			text-align: center;
			font-size:250%;

		}

.p1{
	        color:blue;
	        text-align: center;
	        font-family:"Comic Sans MS"

}
.test {
background:#3d3d3d;
font-size:24px;
font-weight:bold;
-webkit-animation: my 700ms infinite;
-moz-animation: my 700ms infinite; 
-o-animation: my 700ms infinite; 
animation: my 700ms infinite;
}
